<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" th:href="@{/css/chat_style.css}">
    <script th:src="@{/js/chat.js}"></script>
</head>
<body>
<h1>채팅방</h1>
<!-- 채팅 영역에 스크롤 적용 -->
<div id="chat" style="border: 1px solid #ccc; height: 300px; overflow-y: auto;"></div>
<input type="text" id="message" placeholder="메세지를 입력하세요..." onkeydown="checkEnter(event)">
<button type="button" onclick="sendMessage()">Send</button>
</body>
</html>